.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 90vh;
  background-color: #f3aeba;
  padding: 60px 80px 40px;
  position: relative;
  text-align: left;
  gap: 40px;
  flex-wrap: wrap;
  overflow: hidden;
  max-height: 700px;
}

.hero h1 {
  color: #046304;
  font-family: 'Lucida Sans', sans-serif;
  font-size: 3.5rem;
  margin-bottom: 20px;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  animation: slideDown 1s ease forwards;
  opacity: 0;
}

.hero p {
  color: #301111; /* Dark wine color */
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 1.4rem;
  margin-bottom: 30px;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  animation: slideLeft 1.5s ease forwards;
  opacity: 0;
}

.hero button {
  padding: 12px 30px;
  font-size: 1rem;
  background-color: #046304;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-transform: uppercase;
  transition: background-color 0.4s ease;
  animation: fadeIn 2s ease forwards;
  opacity: 0;
}

.hero button:hover {
  background-color: #100c1f;
}

/* Hero Image Styling */
.hero-image img {
  width: 350px;
  height: 700px;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  animation: imageEffect 15s infinite alternate;
}

@keyframes imageEffect {
  0% {
    transform: scale(1) rotate(0deg) translateY(0);
    opacity: 1;
  }
  25% {
    transform: scale(1.1) rotate(10deg) translateY(-10px);
    opacity: 0.8;
  }
  50% {
    transform: scale(1.2) rotate(20deg) translateY(0);
    opacity: 0.6;
  }
  75% {
    transform: scale(1.1) rotate(10deg) translateY(10px);
    opacity: 0.8;
  }
  100% {
    transform: scale(1) rotate(0deg) translateY(0);
    opacity: 1;
  }
}

/* Animations for text and button */
@keyframes slideDown {
  0% {
    transform: translateY(-100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideLeft {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: scale(0.95);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

/* Responsive Styles */
@media (max-width: 992px) {
  .hero {
    flex-direction: column;
    text-align: center;
    padding: 50px 20px;
    min-height: 100vh;
  }

  .hero img {
    width: 80%;
    height: auto;
    margin-top: 30px;
  }
}

@media (max-width: 480px) {
  .hero h1 {
    font-size: 2.5rem;
  }

  .hero p {
    font-size: 1.2rem;
  }

  .hero button {
    padding: 15px;
    width: 100%;
  }
}
