/* Example of styling logout link */
.navbar a {
    color: #100c1f; /* Color for links */
    font-size: 17px !important;
    font-weight: 30px;
  }
  
  /* Style for logout page */
  .logout-page {
    text-align: center;
    padding: 50px;
    background-color: #f8f8f8;
  }
  
  .logout-page h2 {
    font-size: 2rem;
    color: #100c1f;
    font-weight: bold;
  }
  